{% extends 'layout/base.html' %}
{% block title %}
  Dashboard
{% endblock %}
{% block body %}
    <section class="products" id="products">
        <div class="container">
            <div class="dashboard-section">
              <h3>Edit Price</h3>
              <form id="dashboardProductForm">
                  {% csrf_token %}
                <div class="product-form-grid">

                  <!-- Product Name -->
                  <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" id="productName" class="form-input" placeholder="Enter product name" required>
                  </div>

                  <!-- Price -->
                  <div class="form-group">
                    <label for="productPrice">Price ($)</label>
                    <input type="number" id="productPrice" class="form-input" placeholder="Enter price" min="0" step="0.01" required>
                  </div>
                </div>
                  <h3 id="product_status"></h3>
                <button type="submit" class="btn btn-primary mt-3">
                  <i class="fas fa-plus-circle"></i>
                  <span>Update</span>
                </button>

              </form>
            </div>

        </div>
    </section>

{% endblock %}