{% extends 'layout/base.html' %}
{% block title %}
  Record
{% endblock %}
{% block body %}
    <section class="products" id="products">
        <div class="container">
            <div>
                <h2>Record</h2>
            </div>
            <div class="services-grid">
                <div class="service-card">
                    <div class="service-icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <h3 class="service-title">Buying record</h3>
                </div>
                
                <div class="service-card">
                    <div class="service-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <h3 class="service-title">Selling record</h3>
                </div>
                
                <div class="service-card">
                    <div class="service-icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <h3 class="service-title">User activity</h3>
                </div>
                
            </div>
    </section>

{% endblock %}