<header id="header">
    <div class="container nav-container">
        <a href="#" class="logo">Nex<span>us</span></a>

        <div class="mobile-toggle" id="mobileToggle">
            <i class="fas fa-bars"></i>
        </div>

        <ul class="nav-links" id="navLinks">
            <li><a href="/" class="active">Home</a></li>
            <li class="managements"><a href="/fish/add_product">Add product</a></li>
            <li class="managements"><a href="#services">User list</a></li>
            <li class="managements"><a href="#services">Add user</a></li>
            <li><a href="#testimonials">My profile</a></li>
        </ul>

        <div class="nav-right">
            <button class="btn btn-primary" id="logoutBtn">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
    </div>
</header>